section.hero
    .hero-wrapper.hero-swiper
        .hero-slider.swiper-wrapper
            .hero-slider__slide.swiper-slide(style="background: linear-gradient(119.1deg, #000000 0%, rgba(0, 0, 0, 0.01) 60.29%), url(../img/hero.jpg) no-repeat 0px 70%/cover; ")
                .hero-slider__descriptions(style="position: absolute; top: 38%; left: 50%; transform: translate(-50%, -50%);")
                    .hero-logo
                        img(src="@img/hero-logo.svg", alt="logo")
                    .hero-sublogo Студия интерьера Яны Петерсон
            .hero-slider__slide.swiper-slide(style="background: linear-gradient(119.1deg, #000000 0%, rgba(0, 0, 0, 0.01) 60.29%), url(../img/portfolio/p2.jpg) no-repeat 0px 70%/cover; ")
                .hero-slider__descriptions(style="position: absolute; top: 38%; left: 50%; transform: translate(-50%, -50%);")
                    .hero-logo
                        img(src="@img/hero-logo.svg", alt="logo")
                    .hero-sublogo Студия интерьера Яны Петерсон
        .hero-slider__navigation
            .hero-slider__navigation-prev.swiper-button-prev
            .hero-slider__count.swiper-pagination
            .hero-slider__navigation-next.swiper-button-next
