section.portfolio
    .portfolio-header
        .container
            .portfolio-header__wrapper
                .portfolio-header__title Портфолио лучших работ

                ul.portfolio-header__filter__list
                    li.portfolio-header__filter__item(data-portfolio='apartment') Квартиры
                    li.portfolio-header__filter__item(data-portfolio='cottage') Коттеджи
                    li.portfolio-header__filter__item(data-portfolio='commercial') Коммерческая
                
    .portfolio-body
        .portfolio-grid
            .portfolio-element(data-portfolio-item='apartment' data-item-id='0')
                img(src="./img/portfolio/p1.jpg", alt="")
                .portfolio-element__wrapper
                    .portfolio-element__desk
                        h2 Заголовок элемента портфолио
            .portfolio-element(data-portfolio-item='cottage' data-item-id='1')
                img(src="./img/portfolio/p2.jpg", alt="")
                .portfolio-element__wrapper
                    .portfolio-element__desk
                        h2 Заголовок элемента портфолио
            .portfolio-element(data-portfolio-item='commercial' data-item-id='2')
                img(src="./img/portfolio/p3.jpg", alt="")
                .portfolio-element__wrapper
                    .portfolio-element__desk
                         h2 Заголовок элемента портфолио