include ../inc/mixins
block vars


doctype html
html(lang="ru-RU" class="white")
    head
        
        title #{title}
        include ../inc/head/meta
        include ../inc/head/links

    body
        div.wrapper
            block header

            main.main
                block content

            block footer